* {
  margin: 0px;
}

body {
  background-color: pink
}

ul, ol {
  list-style: none;
  padding: 0px;
}

.conteudo {
  margin: 90px;
  padding: 7px;
  background-color: aliceblue;
  border-radius: 10px;
}

.lista {
  background-color: blue;
  padding: 40px;
  color :aliceblue;
  border-radius: 10px

}