body {
  background: #b2b2b2;
}

div {
  width: 300px;
  background: black;
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
  border: solid chocolate;
}

.foto {
  width: 320px;
  background-color: aliceblue;
}