/*h1 {
  background: black;
  color: white;
  display: inline-block;
  margin: 0px;
}

h2 a {
  background-color: tomato;
  color: white;
}

h3 a {
  background-color: black;
  color: white;
}

a {
  background-color: burlywood;
  color: black;
}
*/
.vasco1 {
  color: rgba(0, 0, 0, 0.8);
}
.vasco2 {
  color: rgba(0, 0, 0, 0.6);
}
.vasco3 {
  color: rgba(0, 0, 0, 0.4);
}
.vasco4 {
  color: rgb(255, 0, 0, 1);
}