body {
  margin: 0px;
} 

.box {
  background: #f8a34f;
  width: 200px;
  height: 100px;
  padding: 0px;
  border: 15px solid #d77009;
  border-radius: 15px;
  margin: 20px;
}

.box2 {
  background: yellow;
  width: 100px;
  height: 30px;
  padding: 5px;
  border: 15px solid red;
  border-radius: 15px;
  margin: 20px;
}